body{
    font-family:   New Century Schoolbook, TeX Gyre Schola, serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	max-width: 100%;
}
.skr{
	display: flex;
	justify-content: space-between ;
	margin-top: 65px;
	background-color:  #fff;
	width: 100%;
}
header{
	height: 160px;
	padding-top: 10px;
	
	background-color: #94a6b2;
	color: black;
	
}
header img{
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border: 3px solid #f7f7f7;
	overflow: hidden;
	margin-left: 5%;
	margin-top: 8px;
	margin-bottom: 1rem;
}
.nom{
	display: block;
	color:#0d1d31;

}
.left .contact img{
	width: 30px;
	height: 30px;
}
.nom-t{
	padding-top: 1px;
	padding-bottom: 1px;
}
.right p{
	color: rgb(82, 76, 76);
}
.left h3{
	margin-right: 25%;
}
.competences ul li{
	padding: .2rem;
}
.langues ul li{
	padding: .2rem;
}



.main{
	width: 60%;
	box-shadow: 0 0 8px -2px black;
	margin: 50px auto;
	background: #fff;
}
.img-ct{
	width: 280px;
}
.nom{
	width: calc(100% - 280px);
	margin: 0;
	/* padding: 15px; */
}
.top{
	display: flex;
	background-color: rgba(62, 59, 82, 0.925);
	color: black;
	align-items: center;
}
.bottom{
	display: flex;
}
.left {
	color: #f7f7f7;
	width: 280px;
	background-color: #353e4d;
}
.right {
	width: calc(100% - 280px);
}
.image{
	background-image: url(image/img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}
.ct {
	padding: 15px;
	/* padding-left: 55px; */
}
.addr{
	display: flex;
	align-items: center;
}
.addr span{
	margin-left: 5px;
}
@media (max-width: 800px) {
	.main {
		width: 99%;
		margin: 0 auto;
	}
	.top, .bottom{
		flex-direction: column;
	}
	.right, .left, .nom, .img-ct{
		width: 100%;
	}
}



@media screen and (max-width: 1000px){
	.container{
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}

}

